<div class="content">
  <!-- BEGIN FORGOT PASSWORD FORM -->
  <form>
    <h3 class="font-green">استعادة كلمت المرور</h3>
    <p> الرجاء ادخال البريد الالكتروني الخاص بك لاستعادة كلمة المرور. </p>
    <div class="form-group">
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="البريد الالكتروني" name="email" /> </div>
    <div class="form-actions">
      <a type="button" ui-sref="login" class="btn btn-default pull-left">رجوع</a>
      <button type="submit" class="btn btn-success">استعادة</button>
    </div>
  </form>
  <!-- END FORGOT PASSWORD FORM -->
</div>