<form novalidate ng-submit="newParent()">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="caption caption-md">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green bold">إضافة ولي الامر الجديد</span>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 col-md-offset-3 text-left" ng-if="superAdminStatus">
          <div class="form-group">
            <select class="form-control input-sm" ng-model="school"  required>
              <option value="" disabled selected>الرجاء اختر المدرسة</option>
              <option ng-repeat="sc in schools" value="{{sc._id}}">
                {{sc.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">اسم ولي الامر</label>
              <input class="form-control input-sm" type="text" ng-model="newParentForm.name" placeholder="اسم ولي الامر" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">رقم الهاتف</label>
              <input class="form-control input-sm" type="text" pattern="[+]?[0-9]+" ng-pattern-err-type="phone" ng-model="newParentForm.phone" ng-required-err-type="phone" placeholder="رقم الهاتف" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">رقم الهاتف 2</label>
              <input class="form-control input-sm" type="text" pattern="[+]?[0-9]+" ng-pattern-err-type="phone" ng-model="newParentForm.phone2" ng-required-err-type="phone" placeholder="رقم الهاتف 2">
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">الجنس</label>
              <select class="form-control input-sm" ng-model="newParentForm.gender" required>
                <option value="" disabled selected>الرجاء الاختيار</option>
                <option value="1">ذكر</option>
                <option value="2">انثي</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">البريد الالكتروني</label>
              <input class="form-control input-sm" type="email" ng-model="newParentForm.email" ng-pattern-err-type="emailType" placeholder="البريد الالكتروني" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">الجنسية</label>
               <select class="form-control input-sm" ng-model="newParentForm.nationality" ng-options="nationality.id as nationality.name for nationality in getAllNationality" required>
                <option value="" disabled selected>الرجاء الاختيار</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">المهنة</label>
              <input class="form-control input-sm" type="text" ng-model="newParentForm.job" placeholder="المهنة" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">مكان العمل</label>
              <input class="form-control input-sm" type="text" ng-model="newParentForm.workPlace" placeholder="مكان العمل" required>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6 col-md-2 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
          </div>
          <div class="col-xs-6 col-md-2">
            <a class="btn btn-success btn-sm btn-block" onclick="$('#ParentsId').click();"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>