<div class="portlet light bordered ">
  <div class="portlet-title">
    <div class="row">
      <div class="col-xs-4 col-md-3">
        <div class="caption caption-xs">
          <i class="icon-settings font-green"></i>
          <span class="caption-subject font-green bold">عرض ولي الامر</span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <input type="text" class="form-control input-sm" ng-model="searchValue" ng-init="searchValue = '' " ng-change="getParentsBySearchValue(searchValue)" placeholder="بحث بواسطة إسم ولي الأمر ...">
      </div>
      <div class="col-xs-2 col-sm-3 col-md-3 text-left">
        <a onclick="$('#newParentId').click();" class="btn btn-sm btn-primary"><i class="fa fa-plus fa-fw"></i>
          <span class="hidden-xs">&nbsp;إضافة ولي الامر</span>
          </a>
      </div>
    </div>
  </div>
  <div class="portlet-body" style="padding-top:0px;">
    <table class="table table-striped" ng-show="parents.length">
      <thead>
        <tr>
          <th>الاسم</th>
          <th>البريد الالكتروني</th>
          <th>الهاتف</th>
          <th>الجنسية</th>
          <th>المهنة</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="parent in parents">
          <td>{{parent.name}}</td>
          <td>{{parent.email}}</td>
          <td>{{parent.phone}}</td>
          <td>{{nat[parent.nationality-1].name}}</td>
          <td>{{parent.job}}</td>
          <td>
            <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#messageModal" ng-click="openSendMessageDialog(parent._id)"><i class="fa fa-envelope fa-fw"></i>&nbsp; إرسال رسالة</a>
            <a class="btn btn-success btn-xs" ui-sref="editParent({id:parent._id})"><i class="fa fa-pencil fa-fw"></i>&nbsp;تعديل / عرض</a>
            <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" ng-click="deleteParent(parent._id)"><i class="fa fa-trash fa-fw"></i>&nbsp;حذف</a>
            <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#picModal" ng-click="imagePicker(parent)"><i class="fa fa-image fa-fw"></i>&nbsp;الصورة</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalMessageLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalMessageLabel">إرسال رسالة</h4>
          </div>
          <form novalidate ng-submit="sendMessageToParent()">
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-8">
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label class="control-label">محتوى الرسالة</label>
                        <textarea class="form-control input-sm" rows="8" cols="12" ng-model="message.description" placeholder="محتوى الرسالة" required></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label class="control-label">تخصيص الرسالة بالأبناء :</label>
                        <label ng-repeat="ac in AllChildren">
                          <input type="checkbox" value="{{ac._id}}" ng-checked="selection.indexOf(ac._id) > -1" ng-click="toggleSelection(ac)" > {{ac.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button value="idParent" type="submit" class="btn btn-success" >إرسال</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <h4 class="modal-title" id="myModalLabel">مســح ولي الامر</h4>
          </div>
          <div class="modal-body">
            هل حقا تريد مسح ولي الامر ؟
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            <button ng-click="deleteConfirm(idParent)" value="idParent" type="button" class="btn btn-danger">مسح</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="picModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">الصورة الشخصية</h4>
          </div>
          <div class="modal-body">
            <div class="outer-container">
              <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                  <!-- image-preview-filename input [CUT FROM HERE]-->
                  <div class="preview">
                    <img ng-show="!file" onError="this.error=null;this.src='img/noimage';" src="img/parents/{{parent._id}}?{{date}}">
                    <img ng-show="file" id="dynamic">
                    <div class = "previewMsg">

                    </div>
                  </div>
                  <div class="input-group image-preview">
                    <input required type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">

                      <!-- image-preview-input -->
                      <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">اختر صورة</span>
                        <input ngf-select ng-model="file" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                      </div>
                    </span>
                  </div><!-- /input-group image-preview [TO HERE]-->
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            <button ng-click="upload(file)" value="parent" type="button" class="btn btn-success">حفظ</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="parents.length == 0">
      <div class="alert alert-info">
        <p class="text-center">
          عفوا لاتوجد بيانات
        </p>
      </div>
    </div>
    <div class="row" ng-show="parents.length">
      <div class="col-xs-12 col-md-12 text-center">
        <uib-pagination class="hidden-xs btn-sm" boundary-links="true" rotate="false" max-size="5" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init(searchValue)" previous-text="السابق" next-text="التالي" first-text="الاول" last-text="الاخير"></uib-pagination>
        <uib-pagination class="visible-xs" boundary-links="true" rotate="false" max-size="3" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init(searchValue)" previous-text="‹" next-text="›" first-text="«" last-text="»"></uib-pagination>
      </div>
    </div>
  </div>
</div>
