<div class="portlet light bordered ">
  <div class="portlet-title">
     <div class="row">
     <div class="caption caption-md">
      <i class="icon-settings font-green"></i>
      <span class="caption-subject font-green bold">ضبط نظــام المدرسة</span>
    </div>
  </div>
  <br>
  <br>
     <div class="portlet-body" style="padding-top:0px;">
    <div class="row">
     <div class="col-xs-12 col-md-3 col-md-offset-3">
        <div class="form-group">
          <label class="control-label">الســنة</label>
          <select class="form-control input-sm" ng-model="newSystemForm.year" required ng-options="year._id as year.name for year in allYear">
            <option value="" disabled selected>الرجاء الاختيار</option>
          </select>
        </div>
      </div>

       <div class="col-xs-12 col-md-3">
        <div class="form-group">
          <label class="control-label">النظام الدراسي</label>
          <select class="form-control input-sm" ng-model="newSystemForm.system" required ng-options="system._id as system.name for system in allSystem">
            <option value="" disabled selected>الرجاء الاختيار</option>
          </select>
        </div>
      </div>

</div>

 <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="panel panel-primary" >
        <div class="panel-heading">الصف الاول</div>
        <div class="panel-body">باقي البيانات</div>
         <div class="container">

          <div class="row" >
          <label  for="name[]" class="col-xs-12 col-md-10 col-md-offset-3">التكلفــة</label>
          <br>
            <input name="name[]" type="text" id="name[]" class="col-xs-3 col-md-3 col-md-offset-2">&nbsp;&nbsp;د.ل
          </div>
          <br>

  
    <div class="row">
           <div class="col-md-2" >
              <div class="form-group">
                <label class="control-label"> المجموعة</label>
                <input class="form-control input-sm" type="text" ng-model="newCustomerForm.name" ng-required-err-type="customerName" placeholder="المجموعة" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">الفترة الدراسية</label>
                <select class="form-control input-sm" ng-model="newCustomerForm.type" ng-required-err-type="type" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                  <option value="1">الصباحية</option>
                  <option value="2">المسائية</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">الغرفة الدراسية</label>
                <select class="form-control input-sm" ng-model="newCustomerForm.type" ng-required-err-type="type" required>
                  <option value="" disabled selected>الرجاء الاختيار</option>
                  <option value="1">11</option>
                  <option value="2">22</option>
                </select>
              </div>
            </div>
           
           
  

           <div class="col-xs-1 col-md-1">
            <div class="form-group">
            
            <button class="btn btn-primary" type="button" id="class">+</button>
         
            <button class="btn btn-danger" type="button" id="class">+</button>
            </div>
            </div>
          <div class="col-xs-4 col-md-4">
            <div class="form-group">

            <button class="btn btn-success col-md-4" type="button" id="class">اسناد الاستاذ</button>

          </div>
        </div>
          
          </div>
        
          



   <!--  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="panel panel-primary" >
        <div class="panel-heading">الصف الاول</div>
        <div class="panel-body">باقي البيانات</div>
         <div class="container">

          <div class="row" >
          <label  for="name[]" class="col-xs-12 col-md-10 col-md-offset-3">التكلفــة</label>
          <br>
            <input name="name[]" type="text" id="name[]" class="col-xs-3 col-md-3 col-md-offset-2">&nbsp;&nbsp;د.ل
          </div>
          <br>
          <div class="row" id="formD">
            <div class="col-xs-2 col-md-2">
            <div class="form-group">
              <label for="name[]"></label>
            المجموعة<input name="name[]" type="text" id="name[]">
          </div>
        </div>
         <div class="col-xs-2 col-md-2">
            <div class="form-group">
            <label class="radio-inline"> الفترة الصباحية </label>
              <input type="radio" name="optradio">
            
            <label class="radio-inline"> الفترة المسائية</label>
              <input type="radio" name="optradio">
            </div>
          </div>
            <div class="col-xs-2 col-md-2">
            <div class="form-group">
              <label class="control-label">ss</label>
              <select class="form-control input-sm" ng-model="newSystemForm.year" required ng-options="year._id as year.name for year in allYear">
                <option value="" disabled selected>الرجاء الاختيار</option>
              </select>
            </div>
          </div>
          <div class="col-xs-2 col-md-2">
            <div class="form-group">
        
          <button class="btn add-more" type="button" id="class">+</button>
        </div>
      </div>
        </div>
        <br>
      
      </div>
    </div>
  </div>

 -->





  </div>



  </div>
  </div>
  <div class="portlet-body" style="padding-top:0px;">
  </div>
</div>