<div class="portlet light bordered ">
  <div class="portlet-title">
     <div class="row">
     <div class="caption caption-md">
      <i class="icon-settings font-green"></i>
      <span class="caption-subject font-green bold">ضبط نظــام المدرسة</span>
    </div>
  </div>
  <br>
  <br>
     <div class="portlet-body" style="padding-top:0px;">

    <div class="row">
      allYear
     <div class="col-xs-12 col-md-3 col-md-offset-3">
        <div class="form-group">
          <label class="control-label">الســنة</label>
          <select class="form-control input-sm" ng-model="newStudentForm.gender" required>
            <option value="" disabled selected>الرجاء الاختيار</option>
            <option value="1">دكر</option>
            <option value="2">انثي</option>
          </select>
        </div>
      </div>

       <div class="col-xs-12 col-md-3">
        <div class="form-group">
          <label class="control-label">النظام الدراسي</label>
          <select class="form-control input-sm" ng-model="newSystemForm.system" required ng-options="system._id as system.name for system in allSystem">
            <option value="" disabled selected>الرجاء الاختيار</option>
          </select>
        </div>
      </div>

</div>
    </div>
<!--     <div class="caption caption-md">
      <i class="icon-settings font-green"></i>
      <span class="caption-subject font-green bold">عرض ولي الامر</span>
    </div>
    <div class="col-xs-7">
      <input type="text" class="form-control input-sm" ng-model="searchValue" ng-init="searchValue = '' " ng-change="getParentsBySearchValue(searchValue)" placeholder="بحث بواسطة إسم ولي الأمر أو الرقم الوطني ..">
    </div> -->
   <!--  <div class="col-xs-3 text-left">
      <a onclick="$('#newParentId').click();" class="btn btn-sm btn-primary"><i class="fa fa-plus fa-fw"></i>&nbsp;إضافة ولي الامر </a>
    </div> -->
  </div>
  <div class="portlet-body" style="padding-top:0px;">


  </div>
</div>