<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <a href="#">الرئيسية</a>
    <i class="fa fa-circle"></i>
  </li>
  <li class="active"> لوحة التحكم </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="homeCtl">
  <!-- BEGIN DASHBOARD STATS -->
  <div class="container">
    <div class="col-md-9">
       <table class="table table-list-search">
          <thead>
            <tr>
                <th>Match ID</th>
                <th>Hemmalag</th>
                <th>Bortalag</th>
                <th>Belopp</th>
                <th>Betalt</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Sample</td>
                <td>Filter</td>
                <td>12-11-2011 11:11</td>
                <td>OK</td>
                <td>123</td>
              </tr>
              <tr>
                <td>Try</td>
                <td>It</td>
                <td>11-20-2013 08:56</td>
                <td>It</td>
                <td>Works</td>
              </tr>
              <tr>
                <td>§</td>
                <td>$</td>
                <td>%</td>
                <td>&</td>
                <td>/</td>
              </tr>
          </tbody>
      </table>   
    </div>
</div>
  <!-- END DASHBOARD STATS -->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<!-- BEGIN MAIN JS & CSS