<div class="portlet light bordered ">
  <div class="portlet-title">
    <div class="caption caption-md">
      <i class="icon-settings font-green"></i>
      <span class="caption-subject font-green bold">المجموعات الدراسية</span>
    </div>
  </div>
  <div class="portlet-body" style="padding-top:0px;">
    <table class="table table-striped" ng-show="classRooms.length">
      <thead>
        <tr>
          <th>#</th>
          <th>المجموعة</th>
          <th>المادة</th>
          <th><i class="fa fa-cog"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="classRoom in classRooms">
          <td>{{$index+1}}</td>
          <td>{{classRoom.name}}</td>
          <td>{{classRoom.course}}</td>
          <td>
            <a class="btn btn-success btn-xs" ui-sref="studentInformation({id:classRoom._id,course:classRoom.courseId})"><i class="fa fa-pencil fa-fw"></i>&nbsp;الطلبة</a>
            <a class="btn btn-success btn-xs"><i class="fa fa-pie-chart fa-fw"></i>&nbsp;كشف درجات</a>
            <a class="btn btn-success btn-xs"><i class="fa fa-file-text fa-fw"></i>&nbsp;كشف باسماء الطلبة</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show="classRooms.length == 0">
      <div class="alert alert-info">
        <p class="text-center">
          عفوا لاتوجد بيانات
        </p>
      </div>
    </div>
  </div>
</div>
