<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption caption-md">
      <i class="icon-settings font-green"></i>
      <span class="caption-subject font-green bold">إضافة مادة دراسية</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <form novalidate ng-submit="newSubject()">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="control-label">اسم المادة</label>
              <input class="form-control input-sm" type="text" ng-model="newSubjectForm.name" placeholder="أسم المادة" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="control-label">الوصف</label>
              <input class="form-control input-sm" type="text" ng-model="newSubjectForm.description" placeholder="الوصف" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="control-label">الصف</label>
              <select class="form-control input-sm" ng-model="newSubjectForm.clas" ng-options="clas._id as clas.name for clas in getAllClasses">
                <option value="" disabled selected>الرجاء الاختيار</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6 col-md-2 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
          </div>
          <div class="col-xs-6 col-md-2">
            <a class="btn btn-success btn-sm btn-block" ui-sref="subjects"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>