<form novalidate ng-submit="newAdmin()">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="caption caption-md">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green bold">إضافة الموظف الجديد</span>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 col-md-offset-3 text-left" ng-if="superAdminStatus">
          <div class="form-group">
            <select class="form-control input-sm" ng-model="school"  required>
              <option value="" disabled selected>الرجاء اختر المدرسة</option>
              <option ng-repeat="sc in schools" value="{{sc._id}}">
                {{sc.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">اسم الموظف</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.name" placeholder="اسم الموظف" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">رقم الهاتف</label>
              <input class="form-control input-sm" type="text" pattern="[+]?[0-9]+" ng-pattern-err-type="phone" ng-model="newAdminForm.phone" placeholder="رقم الهاتف" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">رقم الهاتف 2</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.phone2" pattern="[+]?[0-9]+" ng-pattern-err-type="phone" placeholder="رقم الهاتف 2">
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">الجنس</label>
              <select class="form-control input-sm" ng-model="newAdminForm.gender" required>
                <option value="" disabled selected>الرجاء الاختيار</option>
                <option value="1">ذكر</option>
                <option value="2">انثي</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">البريد الالكتروني</label>
              <input class="form-control input-sm" type="email" ng-model="newAdminForm.email" ng-pattern-err-type="emailType" placeholder="البريد الالكتروني" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">الرقم الوطني</label>
              <input class="form-control input-sm" type="text" pattern="[0-9]+" ng-pattern-err-type="nId" ng-model="newAdminForm.nid" placeholder="الرقم الوطني" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">رقم البطاقة الشخصية</label>
              <input class="form-control input-sm" type="text" pattern="[0-9]+" ng-pattern-err-type="personalId" ng-model="newAdminForm.personalId" placeholder="رقم البطاقة الشخصية" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">المؤهل العلمي</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.qualification" placeholder="المؤهل العلمي" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">تاريخ الحصول عليه</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.qualificationDate" placeholder="تاريخ الحصول عليه" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">التخصص</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.specialization" placeholder="التخصص" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">تاريخ البدء في العمل</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.startDate" placeholder="تاريخ البدء في العمل" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">الجنسية</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.nationality" placeholder="الجنسية" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">العنوان</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.address" placeholder="العنوان" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">اقرب نقطة دالة</label>
              <input class="form-control input-sm" type="text" ng-model="newAdminForm.closestPoint" placeholder="اقرب نقطة دالة" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="control-label">تاريخ الميلاد</label>
              <input required type="text" class="form-control input-sm"  data-autoclose="1" bs-datepicker ng-model="newAdminForm.birth_day"/>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6 col-md-2 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;إضافة</button>
          </div>
          <div class="col-xs-6 col-md-2">
            <a class="btn btn-success btn-sm btn-block" onclick="$('#AdminsId').click();"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>