<form novalidate ng-submit="orders()">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="caption caption-md">
            <i class="icon-settings font-green"></i>
            <br>
            <span class="caption-subject font-green bold"><h3>الطلبات</h3></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs ">
              <li class="active 1">
                <a data-target="#tab_default_1" data-toggle="tab" ng-click="sendStatus('SENDING')">
                جديدة </a>
              </li>
              <li class="2">
                <a data-target="#tab_default_2" data-toggle="tab" ng-click="sendStatus('PENDING')">
                قيد الطلب </a>
              </li>
              <li class="3">
                <a data-target="#tab_default_3" data-toggle="tab" ng-click="sendStatus('ACCEPTED')">
                تم التوفير </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_default_1">
                <div class="col-xs-7 col-md-6">
                  <input type="text" class="form-control input-sm" ng-model="searchValue" ng-init="searchValue = '' " ng-change="getStudentBySearchValue(searchValue)" placeholder="بحث ..">
                </div>
                <div class="portlet-body" style="padding-top:0px;">
                  <table class="table table-striped">
                    <thead>
                      <tr >
                        <th class="text-center">الاسم</th>
                         <th class="text-center">الرقم الوطني</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="std in students">
                        <td class="text-center">{{std.student.name}}</td>
                         <td class="text-center">{{std.student.nid}}</td>
                        <td class="text-center">
                          <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" ng-click="viewStudent(std._id)"><i class="fa fa-bars fa-fw"></i>&nbsp;عرض الطلبية</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <div>
                    <div class="alert alert-info">
                      <p class="text-center">
                        عفوا لاتوجد بيانات
                      </p>
                    </div>
                  </div> -->
  
                 <!--  <div class="row" ng-show="classes.length">
                    <div class="col-xs-12 col-md-12 text-center">
                      <uib-pagination class="hidden-xs btn-sm" boundary-links="true" rotate="false" max-size="5" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init(searchValue)" previous-text="السابق" next-text="التالي" first-text="الاول" last-text="الاخير"></uib-pagination>
                      <uib-pagination class="visible-xs" boundary-links="true" rotate="false" max-size="3" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init(searchValue)" previous-text="‹" next-text="›" first-text="«" last-text="»"></uib-pagination>
                    </div>
                  </div> -->
                </div> 
              </div>
              <div class="tab-pane" id="tab_default_2">
                <div class="col-xs-7 col-md-6">
                  <input type="text" class="form-control input-sm" ng-model="searchValue" ng-init="searchValue = '' " ng-change="getStudentBySearchValue(searchValue)" placeholder="بحث ..">
                </div>
                <div class="portlet-body" style="padding-top:0px;">
                  <table class="table table-striped">
                    <thead>
                      <tr >
                        <th class="text-center">الاسم</th>
                         <th class="text-center">الرقم الوطني</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="std in students">
                         <td class="text-center">{{std.student.name}}</td>
                         <td class="text-center">{{std.student.nid}}</td>
                        <td class="text-center">
                          <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" ng-click="viewStudent(std._id)"><i class="fa fa-bars fa-fw"></i>&nbsp;عرض الطلبية</a>
                          <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" ng-click="viewStudent(std._id)"><i class="fa fa-ban fa-fw"></i>&nbsp;رفض الطلبية</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_3">
                <div class="col-xs-7 col-md-6">
                  <input type="text" class="form-control input-sm" ng-model="searchValue" ng-init="searchValue = '' " ng-change="getOrderBySearchValue(searchValue)" placeholder="بحث ..">
                </div>
                <div class="portlet-body" style="padding-top:0px;">
                  <table class="table table-striped">
                    <thead>
                      <tr >
                        <th class="text-center">الاسم</th>
                         <th class="text-center">الرقم الوطني</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="std in students">
                        <td class="text-center">{{std.student.name}}</td>
                        <td class="text-center">{{std.student.nid}}</td>
                        <td class="text-center">
                        <a class="btn btn-success btn-xs"  href="/teacher/report1" target="_blank"><i class="fa fa-file-text fa-fw"></i>&nbsp;طباعة واصل الاستلام</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
      <div class="row" ng-show="students.length">
        <div class="col-xs-12 col-md-12 text-center">
          <uib-pagination class="hidden-xs btn-sm" boundary-links="true" rotate="false" max-size="5" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init(searchValue)" previous-text="السابق" next-text="التالي" first-text="الاول" last-text="الاخير"></uib-pagination>
          <uib-pagination class="visible-xs" boundary-links="true" rotate="false" max-size="3" total-items="total" ng-model="currentPage" items-per-page="pageSize" ng-click="init(searchValue)" previous-text="‹" next-text="›" first-text="«" last-text="»"></uib-pagination>
        </div>
      </div>

