<form novalidate ng-submit="newOutcome()">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="caption caption-md">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green bold">اضافة صرف</span>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 col-md-offset-3 text-left" ng-if="superAdminStatus">
          <div class="form-group">
            <select class="form-control input-sm" ng-model="school"  required>
              <option value="" disabled selected>الرجاء اختر المدرسة</option>
              <option ng-repeat="sc in schools" value="{{sc._id}}">
                {{sc.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="control-label">وصف</label>
              <input class="form-control input-sm" type="text" ng-model="newOutcomeForm.title" placeholder="وصف" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="control-label">القيمة</label>
              <input class="form-control input-sm" type="number" ng-model="newOutcomeForm.amount" placeholder="القيمة" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="control-label">الفئة</label>
              <select required class="form-control input-sm" ng-model="newOutcomeForm.inOutcomeType" ng-options="type._id as type.name for type in getAllTypes">
                <option value="" disabled selected>الرجاء الاختيار</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6 col-md-2 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;تعديل</button>
          </div>
          <div class="col-xs-6 col-md-2">
            <a class="btn btn-success btn-sm btn-block" ui-sref="outcomes"><i class="fa fa-ban"></i>&nbsp;إلغاء</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>